"*.safetensors" 
"*.safetensors" 
"*.safetensors" 
output/comparacionModelos/
output/
config_lime.yaml
config.yaml
config_cascade.yaml
config_multilabel.yaml
app/__pycache__/

models/*
!models/README.md